<header>
  <section class="brand">
    <i class="fa-solid fa-file-excel"></i>
    <span class="brand-text"> XLSx Validator </span>
  </section>
  <section class="tutorial">
    <p class="tuturial-step">
      <span class="step-number">1</span> Defina as regras
    </p>
    <p class="tuturial-step">
      <span class="step-number">2</span> Faça o upload
    </p>
    <p class="tuturial-step">
      <span class="step-number">3</span> Verifique o relatório
    </p>
  </section>
</header>
<nav>
  <div class="nav-item" [routerLink]="['rules']" routerLinkActive="active"><i class="fa-solid fa-table-columns"></i> Colunas</div>
  <div class="nav-item" routerLink="upload" routerLinkActive="active"><i class="fa-solid fa-cloud-arrow-up"></i> Upload</div>
  <div class="nav-item" routerLink="results" routerLinkActive="active"><i class="fa-solid fa-list-check"></i> Resultado</div>
</nav>
<router-outlet></router-outlet>
