<div id="content" [class.dark]="isDark">
  <header>
    <div class="actions">
      <button type="button" (click)="toggleDark()">
        <i class="fa-regular fa-moon"></i>
      </button>
    </div>
    <section class="brand">
      <i class="fa-solid fa-file-excel"></i>
      <span class="brand-text"> XLSx Validator </span>
    </section>
    <section class="tutorial">
      <p class="tuturial-step">
        <span class="step-number">1</span> Defina as regras
      </p>
      <p class="tuturial-step">
        <span class="step-number">2</span> Faça o upload
      </p>
      <p class="tuturial-step">
        <span class="step-number">3</span> Verifique o relatório
      </p>
    </section>
  </header>
  <nav [class.dark]="isDark">
    <div [class.dark]="isDark" class="nav-item" [routerLink]="['rules']" routerLinkActive="active" ><i class="fa-solid fa-table-columns"></i> Colunas</div>
    <div [class.dark]="isDark" class="nav-item" routerLink="upload" routerLinkActive="active" [attr.aria-disabled]="canUpload"><i class="fa-solid fa-cloud-arrow-up"></i> Upload</div>
    <div [class.dark]="isDark" class="nav-item" routerLink="results" routerLinkActive="active" [attr.aria-disabled]="readyResults" ><i class="fa-solid fa-list-check"></i> Resultado</div>
  </nav>
  <router-outlet></router-outlet>
</div>
