form {
  display: flex;
  width: 100%;
}
.upload-content {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
mat-form-field {
  width: 100%;
}

.mat-icon svg {
  fill: #084b28;
}
